<fieldset>
  <div class="form-group row">
    <label for="calle" class="col-form-label col-sm-2">Calle</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="direccion.calle" name="calle" #calle="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="localidad" class="col-form-label col-sm-2">Localidad</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="direccion.localidad" name="localidad" #localidad="ngModel">
    </div>
  </div>
</fieldset>
